<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>Themes</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="themebox">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>Default</ion-label>
      <button type="button" class="circleBut theme1" (click)="changeTheme('one')"></button>
    </ion-col>
    <ion-col>
      <ion-label>Fall</ion-label>
      <button type="button" class="circleBut theme2" (click)="changeTheme('two')"></button>
    </ion-col>
    <ion-col>
      <ion-label>Forest</ion-label>
      <button type="button" class="circleBut theme3" (click)="changeTheme('three')"></button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Easter</ion-label>
      <button type="button" class="circleBut theme4" (click)="changeTheme('four')"></button>
    </ion-col>
    <ion-col>
      <ion-label>Halloween</ion-label>
      <button type="button" class="circleBut theme5" (click)="changeTheme('five')"></button>
    </ion-col>
    <ion-col>
      <ion-label>Christmas</ion-label>
      <button type="button" class="circleBut theme6" (click)="changeTheme('six')"></button>
    </ion-col>
  </ion-row>

</ion-grid>
</div>
</div>



