#main-content {
  background-color: rgb(67,50,110);
}

ion-menu-button {
  margin-top: 60px;
  color: white;
}

ion-toolbar {
  --background: rgb(100,83,144);
  height: 120px;
  border-bottom: 10px solid rgb(50,38,80);
}

ion-label {
  color: white;
  text-decoration: none;
}

ion-title {
  font-size: 2rem;
}

ion-list {
  background-color: rgb(67,50,110);
}

ion-item {
  //text-align: center;
  --ion-item-background:rgb(100,83,144);
  --border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 1em;
}

ion-select {
  //margin-right:
}

ion-menu {
  --ion-background-color: rgb(67,50,110);
}

a:link {
  text-decoration: none;
}

.history {
  background-color: rgba(51, 51, 51, 0.9);
  color: green;
  position: absolute;
  // top: 50%;
   //left: 30%;
   //transform: translate(-10%, -20%);
  width: 100%;
  height: 72%;
  margin-top: 52%;
  display: none;
  overflow-y: auto;

}

.history li {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}

.calculator {
  background-color: rgb(67,50,110);
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin-top: 120px;
}

.calScreen {
  width: 100%;
  font-size: 7rem;
  height: 90px;
  border: none;
  background-color: rgb(67,50,110);
  color: #fff;
  text-align: right;
  padding-right: 30px;
  margin-top: 60px;
}

.calKeys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.circleBut{
  height: 80px;
  border-radius: 50%;
  font-size: 2.5rem;
}

.ovBut{
  height: 100%;
  border-radius: 50px;
  font-size: 2.5rem;
}

.num {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.op {
  background-color: rgb(251, 214, 82);
  font-size: 2.2rem;
  color: rgb(67,50,110);
}

button:hover {
  background-color: #eaeaea44;
}

.zero {
  grid-area: 5 / 1 / 6 / 3;
}
.one{
  grid-area: 4 / 1 / 5 / 2;
}
.two{
  grid-area: 4 / 2 / 5 / 3;
}
.three{
  grid-area: 4 / 3 / 5 / 4;
}
.four {
  grid-area: 3 / 1 / 4 / 2;
}
.five{
  grid-area: 3 / 2 / 4 / 3;
}
.six{
  grid-area: 3 / 3 / 4 / 4;
}
.seven {
  grid-area: 2 / 1 / 3 / 2;
}
.eight{
  grid-area: 2 / 2 / 3 / 3;
}
.nine{
  grid-area: 2 / 3 / 3 / 4;
}
.dec {
  grid-area: 5 / 3 / 5 / 4;
}
.plus {
  grid-area: 3 / 4 / 4 / 5;
}
.minus {
  grid-area: 2 / 4 / 3 / 5;
}
.divide {
  grid-area: 1 / 3 / 2 / 4;
}
.mult {
  grid-area: 1 / 4 / 2 / 5;
}
.clear {
  grid-area: 1 / 1 / 1 / 1;
  border-color: rgb(251, 214, 82);
}
.equal {
  grid-area: 4 / 4 / 6 / 5;
}

.line {
  width: 90%;
  height: 2px;
  background: white;
  margin: 5%;
}

//iPhone SE
@media (min-height: 667px){

  .history {
    height: 80%;
    margin-top: 35%;
  }

  ion-menu-button {
    margin-top: 0px;
  }

  ion-toolbar {
    height: 50px;
  }

  .calculator {
    margin-top: 50px;
  }

  .calScreen {
    margin-top: 10px;
  }
}

//Galaxy S7-22
@media (min-height: 740px){

  .history {
    height: 81%;
    margin-top: 35%;
  }

  ion-menu-button {
    margin-top: 40px;
  }

  ion-toolbar {
    height: 100px;
  }

  .calculator {
    margin-top: 100px;
  }

  .calScreen {
    margin-top: 10px;
  }
}


//iPhone X-13
@media (min-height: 844px){

  .history {
    height: 72%;
    margin-top: 52%;
  }

  ion-menu-button {
    margin-top: 60px;
  }

  ion-toolbar {
    height: 120px;
  }

  .calculator {
    margin-top: 120px;
  }

  .calScreen {
    margin-top: 80px;
  }
}

//iPhone XR
@media (min-height: 896px){

  .history {
    height: 73%;
    margin-top: 50%;
  }

  ion-menu-button {
    margin-top: 60px;
  }

  ion-toolbar {
    height: 120px;
  }

  .calculator {
    margin-top: 150px;
  }

  .calScreen {
    margin-top: 80px;
  }
}

//Galaxy Ultra
@media (min-height: 915px){

  .history {
    height: 68%;
    margin-top: 60%;
  }

  ion-menu-button {
    margin-top: 80px;
  }

  ion-toolbar {
    height: 150px;
  }

  .calculator {
    margin-top: 150px;
  }

  .calScreen {
    margin-top: 120px;
  }
}

//iPad Mini
@media (min-height: 1024px){

  .history {
    height: 80%;
    margin-top: 42%;
  }

  .history li {
    font-size: 3rem;
  }

  ion-menu-button {
    margin-top: 80px;
  }

  ion-toolbar {
    height: 150px;
  }

  .calculator {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
  }

  .calScreen {
    margin-top: 60px;
  }

  .circleBut{
    height: 100px;
  }

  .ovBut{
    border-radius: 70px;
  }
}

//iPad
@media (min-height: 1180px){

  .history {
    height: 85%;
    margin-top: 35%;
  }

  .history li {
    font-size: 3rem;
  }

  ion-menu-button {
    margin-top: 80px;
  }

  ion-toolbar {
    height: 150px;
  }

  .calculator {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
  }

  .calScreen {
    margin-top: 60px;
  }

  .circleBut{
    height: 120px;
  }

  .ovBut{
    border-radius: 80px;
  }
}

@media (orientation: landscape){

  .history {
    position: absolute;
    width: 65%;
    height: 225%;
    margin-top: -1.5%;
    margin-left: 35%;
    z-index: 1;
  }

  ion-menu-button {
    margin-top: 5px;
  }

  ion-toolbar {
    height: 50px;
  }

  .calScreen {
    margin-top: 0px;
  }

  .calKeys {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
  }

  .circleBut{
    height: 50px;
    width: 120px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 50px;
    width: 120px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 120px;
    width: 120px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 36px;
  }

  .line {
    width: 90%;
    height: 2px;
    background: white;
    margin: 1% 5% 0 5%;
  }

  .zero {
    grid-area: 3 / 4 / 4 / 5;
  }
  .one{
    grid-area: 3 / 1 / 4 / 2;
  }
  .two{
    grid-area: 3 / 2 / 4 / 3;
  }
  .three{
    grid-area: 3 / 3 / 4 / 4;
  }
  .four {
    grid-area: 2 / 1 / 3 / 2;
  }
  .five{
    grid-area: 2 / 2 / 3 / 3;
  }
  .six{
    grid-area: 2 / 3 / 3 / 4;
  }
  .seven {
    grid-area: 1 / 1 / 2 / 2;
  }
  .eight{
    grid-area: 1 / 2 / 2 / 3;
  }
  .nine{
    grid-area: 1 / 3 / 2 / 4;
  }
  .dec {
    grid-area: 3 / 5 / 4 / 6;
  }
  .plus {
    grid-area: 1 / 5 / 2 / 6;
  }
  .minus {
    grid-area: 1 / 4 / 2 / 5;
  }
  .divide {
    grid-area: 2 / 4 / 3 / 5;
  }
  .mult {
    grid-area: 2 / 5 / 3 / 6;
  }
  .clear {
    grid-area: 1 / 6 / 1 / 7;
    border-color: rgb(251, 214, 82);
  }
  .equal {
    grid-area: 2 / 6 / 4 / 7;
  }
}

//LandScape Mode
//iPhone SE
@media (orientation: landscape) and (min-width: 667px){

  .history {
    width: 55%;
    height: 220%;
    margin-top: -2%;
    margin-left: 45%;
  }

  .calculator {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {
    bottom:85%;
    right:22%;
    grid-gap: 5px;
    padding: 160px;
  }

  .circleBut{
    height: 40px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 40px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 100px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}

//LandScape Mode
//Galaxy S7-22
@media (orientation: landscape) and (min-width: 740px){

  .history {
    width: 59%;
    height: 220%;
    margin-top: -2%;
    margin-left: 41%;
  }

  ion-menu-button {
    margin-top: 0px;
  }

  .calculator {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {
    bottom: 5%;
    left: 1%;
    grid-gap: 5px;
    padding: 20px;
  }

  .circleBut{
    height: 40px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 40px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 100px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}

//LandScape Mode
//iPhone X-13
@media (orientation: landscape) and (min-width: 844px){

  .history {
    width: 65%;
    height: 225%;
    margin-top: -1.5%;
    margin-left: 35%;
  }

  .calculator {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {
    bottom: 2%;
    grid-gap: 10px;
    padding: 20px;
  }

  .calScreen{
    padding-right: 35px;
  }

  .circleBut{
    height: 45px;
    width: 110px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 45px;
    width: 110px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 110px;
    width: 110px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}

//LandScape Mode
//iPhone XR
@media (orientation: landscape) and (min-width: 896px){

  .history {
    width: 67%;
    height: 220%;
    margin-top: -1%;
    margin-left: 33%;
  }

  .calculator {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {
    bottom:15%;
    left: 0%;
    grid-gap: 10px;
    padding: 50px;
  }

  .calScreen{
    padding-right: 75px;
  }

  .circleBut{
    height: 50px;
    width: 120px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 50px;
    width: 120px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 120px;
    width: 120px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}

//LandScape Mode
//iPad Mini
@media (orientation: landscape) and (min-width: 1024px){

  .history {
    width: 72%;
    height: 235%;
    margin-top: -12.5%;
    margin-left: 28%;
  }

  .history li {
    font-size: 3rem;
  }

  .calculator {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {
    top:5%;
    grid-gap: 10px;
    padding: 50px;
  }

  .calScreen{
    padding-right: 65px;
  }

  .circleBut{
    height: 65px;
    width: 145px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 65px;
    width: 145px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 145px;
    width: 145px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}


//LandScape Mode
//iPad
@media (orientation: landscape) and (min-width: 1180px){

  .history {
    width: 75%;
    height: 236%;
    margin-top: -7.8%;
    margin-left: 25%;
  }

  .history li {
    font-size: 3rem;
  }

  .calculator {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
  }

  .calKeys {

    top:10%;
    left: 1%;
    grid-gap: 10px;
    padding: 50px;
  }

  .calScreen{
    padding-right: 90px;
  }

  .circleBut{
    height: 75px;
    width: 160px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .zero{
    height: 75px;
    width: 160px;
    margin: 4px 2px;
    border-radius: 64px;
  }

  .equal{
    height: 160px;
    width: 160px;
    margin: 4px 2px;
    border-radius: 36px;
  }
}
