<ion-menu  contentId="main-content">
  <ion-header >
    <ion-toolbar id="sideToolbar">
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="toggleHistory()">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-list id="menulist">
      <ion-item>
        <ion-icon name="color-palette-outline"></ion-icon>
        <ion-label id="themeslabel">Themes</ion-label>
        <ion-select [(ngModel)]="selectedStyle" (ionChange)="onStyleSelected()">
          <ion-select-option value="styleA">Cornsilk</ion-select-option>
          <ion-select-option value="styleB">Skobeloff</ion-select-option>
          <ion-select-option value="styleC">Sea Green</ion-select-option>
          <ion-select-option value="styleD">Rose Dust</ion-select-option>
          <ion-select-option value="styleE">Royal</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="text-outline"></ion-icon>
        <ion-label>Font</ion-label>
        <ion-select [(ngModel)]="selectedFont" (ionChange)="onFontSelected()">
          <ion-select-option value="openSans">Open Sans</ion-select-option>
      <ion-select-option value="roboto">Roboto</ion-select-option>
      <ion-select-option value="poppins">Poppins</ion-select-option>
      <ion-select-option value="nunitoSans">Nunito Sans</ion-select-option>
      <ion-select-option value="lato">Lato</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
      <ion-item>
        <ion-icon name="beaker-outline"></ion-icon>
        <ion-label>Conversions</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar id="homeToolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
</div>


<div class="calculator">
  <div class="history">
    <ul>
      <li *ngFor="let equation of history.reverse()">{{equation}}</li>
    </ul>
  </div>
  <input type="text" class="calScreen"  value={{display}} id="screen" maxlength="6" readonly>
  <div class="line"></div>
  <div class="calKeys">
    <button type="button" class="circleBut op plus" value="+" (click)="opPress('+')"><span id="butext">+</span></button>
    <button type="button" class="circleBut op minus" value="-" (click)="opPress('-')"><span id="butext">-</span></button>
    <button type="button" class="circleBut op mult" value="*" (click)="opPress('*')"><span id="butext">&times;</span></button>
    <button type="button" class="circleBut op divide" value="/" (click)="opPress('/')"><span id="butext">&divide;</span></button>
    <button class="circleBut num one" type="button" value="1" (click)="numPress('1')"><span id="butext">1</span></button>
    <button class="circleBut num two" type="button" value="2" (click)="numPress('2')"><span id="butext">2</span></button>
    <button class="circleBut num three" type="button" value="3" (click)="numPress('3')"><span id="butext">3</span></button>
    <button class="circleBut num four" type="button" value="4" (click)="numPress('4')"><span id="butext">4</span></button>
    <button class="circleBut num five" type="button" value="5" (click)="numPress('5')"><span id="butext">5</span></button>
    <button class="circleBut num six" type="button" value="6"  (click)="numPress('6')"><span id="butext">6</span></button>
    <button class="circleBut num seven" type="button" value="7" (click)="numPress('7')"><span id="butext">7</span></button>
    <button class="circleBut num eight" type="button" value="8" (click)="numPress('8')"><span id="butext">8</span></button>
    <button class="circleBut num nine" type="button" value="9" (click)="numPress('9')"><span id="butext">9</span></button>
    <button class="circleBut num dec" type="button" value="." (click)="decPress('.')"><span id="butext">.</span></button>
    <button class="circleBut num clear" type="button" value="clear" (click)="clear()"><span id="butext">C</span></button>
    <button class="ovBut num zero" type="button" value="0" (click)="numPress('0')"><span id="butext">0</span></button>
    <button class="ovBut op equal" type="button" value="=" (click)="evaluate()"><span id="butext">=</span></button>
  </div>
</div>

