<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="calculator">
      <input type="text" class="calScreen" value="0" readonly>
      <div class="calKeys">
        <button type="button" class="circleBut op plus" value="+">+</button>
        <button type="button" class="circleBut op minus" value="-">-</button>
        <button type="button" class="circleBut op mult" value="*">&times;</button>
        <button type="button" class="circleBut op divide" value="/">&divide;</button>
        <button class="circleBut num one" type="button" value="1">1</button>
        <button class="circleBut num two" type="button" value="2">2</button>
        <button class="circleBut num three" type="button" value="3">3</button>
        <button class="circleBut num four" type="button" value="4">4</button>
        <button class="circleBut num five" type="button" value="5">5</button>
        <button class="circleBut num six" type="button" value="6">6</button>
        <button class="circleBut num seven" type="button" value="7">7</button>
        <button class="circleBut num eight" type="button" value="8">8</button>
        <button class="circleBut num nine" type="button" value="9">9</button>
        <button class="circleBut num dec" type="button" value=".">.</button>
        <button class="circleBut num clear" type="button" value="clear">C</button>
        <button class="ovBut num zero" type="button" value="0">0</button>
        <button class="ovBut op equal" type="button" value="=">=</button>
      </div>
      </div>
</ion-content>
