<ion-menu  contentId="main-content">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="brush-outline"></ion-icon>
        <ion-label><a href="./home/themes">Themes</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="beaker-outline"></ion-icon>
        <ion-label>Conversions</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<div class="calculator">
  <input type="text" class="calScreen"  value={{display}} id="screen" maxlength="6" readonly>
  <!-- <ion-item>{{display}}</ion-item> -->
  <div class="line"></div>
  <div class="calKeys">
    <button type="button" class="circleBut op plus" value="+" (click)="addOp('+')">+</button>
    <button type="button" class="circleBut op minus" value="-" (click)="addOp('-')">-</button>
    <button type="button" class="circleBut op mult" value="*" (click)="addOp('*')">&times;</button>
    <button type="button" class="circleBut op divide" value="/" (click)="addOp('/')">&divide;</button>
    <button class="circleBut num one" type="button" value="1" (click)="addNum('1')">1</button>
    <button class="circleBut num two" type="button" value="2" (click)="addNum('2')">2</button>
    <button class="circleBut num three" type="button" value="3" (click)="addNum('3')">3</button>
    <button class="circleBut num four" type="button" value="4" (click)="addNum('4')">4</button>
    <button class="circleBut num five" type="button" value="5" (click)="addNum('5')">5</button>
    <button class="circleBut num six" type="button" value="6" (click)="addNum('6')">6</button>
    <button class="circleBut num seven" type="button" value="7" (click)="addNum('7')">7</button>
    <button class="circleBut num eight" type="button" value="8" (click)="addNum('8')">8</button>
    <button class="circleBut num nine" type="button" value="9" (click)="addNum('9')">9</button>
    <button class="circleBut num dec" type="button" value="." (click)="addNum('.')">.</button>
    <button class="circleBut num clear" type="button" value="clear" (click)="clear()">C</button>
    <button class="ovBut num zero" type="button" value="0" (click)="addNum('0')">0</button>
    <button class="ovBut op equal" type="button" value="=" (click)="evaluate()">=</button>
  </div>
</div>

